@-moz-document domain(kissanime.ru),
domain(kissmanga.com) {
    * {
        font-family: "Roboto", "Source Han Sans JP Regular", "Meiryo" !important;
    }
    body {
        width: 100% !important;
        overflow-x: hidden;
    }
    body > #containerRoot {
        height: auto;
        min-height: 100%;
        background-color: #161616 !important;
    }
    a {
        color: #FFF !important;
        font-weight: bold !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    a:hover {
        color: #7E7E7E !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    /* STUFF */
    
    img[src*="bullet.png"],
    img[src*="subdub.png"] {
        visibility: hidden;
        margin-bottom: 14px !important;
        margin-right: -20px !important;
    }   
    
    #divMsg {
        position: absolute !important;
        left: 26.8% !important;
        right: auto;
    }
    #divMsg.banner > div > img {
        box-shadow: none !important;
    }
    #btnNext {
        border: 3px solid #FFF !important;
        box-shadow: none !important;
        filter: brightness(0) invert(1) !important;
        height: 20px !important;
        opacity: .3 !important;
        padding: 5px !important;
        visibility: visible !important;
        position: fixed !important;
        bottom: 30px !important;
        right: 15px !important;
        z-index: 999 !important;
    } 
    #btnPrevious {
        border: 3px solid #FFF !important;
        box-shadow: none !important;
        filter: brightness(0) invert(1) !important;
        height: 20px !important;
        opacity: .3 !important;
        padding: 5px !important;
        visibility: visible !important;
        position: fixed !important;
        bottom: 30px !important;
        left: 30px !important;
        z-index: 999 !important;
    }
    #btnPrevious:hover,
    #btnNext:hover {
        opacity: 1 !important;
        transition: all .3s ease-in-out !important;
    }
    hr {
        border-bottom: 2px solid #7E7E7E !important;
    }
    #recently-nav {
        float: right;
        margin-right: 16px;
        width: auto;
        z-index: 9999 !important;
    }
    a.prev {
        background: url("http://i.imgur.com/tKOgREQ.png") !important;
        float: left;
        background-size: 30px auto !important;
        background-position: center center !important;
    }
    a.next {
        background: url("http://i.imgur.com/d5zq2fu.png") !important;
        float: left;
        background-size: 30px auto !important;
        background-position: center center !important;
        margin-left: -3px !important;
    }
    #divAds2 {
        visibility: hidden !important;
    }
    .scrollable_title {
        float: left;
        font: 17px/23px "Tahoma", Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        color: #FFF;
        height: 25px;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
    .barTitle {
        text-transform: uppercase !important;
        font-weight: bold !important;
        background: transparent !important;
    }
    .arrow-general {
        margin: 0px;
        padding: 0px;
        height: 9px;
        position: relative;
        top: -12px;
        left: -10px;
        display: none !important;
    }
    #tab-trending > div > div > img {
        display: none !important;
    }
    /* ICONS */
    
    #___plusone_0 {
        display: none !important;
    }
    #btnReloadRandom img{
        background: no-repeat url("http://i.imgur.com/2n3rpjO.png") center !important;
        background-size: 50% auto !important;
        box-shadow: none !important;
        height: 0px !important;
        width: 0px !important;
        padding: 30px 0px 0px 70px;
        margin-left: 24px !important;
    }
    #btnReloadRandomMain img{
        background: no-repeat url("http://i.imgur.com/2n3rpjO.png") center !important;
        background-size: 50% auto !important;
        box-shadow: none !important;
        height: 0px !important;
        width: 0px !important;
        padding: 30px 0px 0px 70px;
        margin-left: 12px !important;
    } 
    .details > #divShowGenre > div > #selectGenre {
        border: none !important;
        padding: 5px 11px !important;
    }
    #search input.button {
        margin: -4px 0px 0px;
        padding: 0px;
        vertical-align: middle;
        display: none !important;
    }
    #formSearch > div > a > img {
        display: none !important;
    }
    #spanBookmarkManager > img {
        display: none !important;
    }
    #topHolderBox > img {
        display: none !important;
    }
    .barContent {
        padding: 10px;
        margin-top: 2px;
        background: none !important;
    }
    .divCloseBut {
        display: none !important;
    }
    /* BOOKMARK */
    
    #spanBookmarkManager {
        visibility: visible !important;
    }
    /* HOME */
    
    .banner {
        margin: 0px 0px 10px;
        width: 100%;
        background: rgba(33, 33, 33, 1) !important;
        border: 0px solid #333;
        height: 208px;
        padding: 20px 20px 20px 20px !important;
        margin-top: 40px !important;
        margin-left: -54px !important;
        margin-bottom: 20px !important;
    }
    .banner .details {
        margin-bottom: -24px !important;
    }
    .rightBox {
        display: block;
        width: 213px;
        background: rgba(33, 33, 33, 1) !important;
        border: 0px solid #2F2F2F;
        padding: 20px 20px 20px 20px !important;
        margin-top: 40px !important;
        margin-left: 16px !important;
    }
    .bigBarContainer {
        width: 100%;
        background: rgba(33, 33, 33, 1) !important;
        border: 0px solid #2F2F2F;
        margin-left: -54px !important;
        margin-right: auto;
        padding: 2px !important;
        padding: 30px 20px 20px 20px !important;
    }
    #tabmenucontainer a {
        float: left;
        display: block;
        width: 125px;
        height: 25px;
        color: #FFF;
        border: medium none;
        text-decoration: none;
        margin-left: -85px !important;
        padding: 0px 40px 40px !important;
        background: transparent !important;
    }
        #tabmenucontainer a:link {
            margin-bottom: 15px !important;
        }
    #subcontent {
        margin: 15px 0px 0px;
        background: rgba(33, 33, 33, 1) !important;
        border: 0px solid #333;
        width: 100%;
        float: left;
        padding: 20px 20px 20px 20px !important;
        margin-left: -54px !important;
        margin-top: -2px !important;
    }
    #subcontent div div {
        margin: 0px;
        padding: 10px;
        float: left;
        display: block;
        width: 710px;
        background: rgba(33, 33, 33, 1) !important;
        font: 12px "Tahoma", Arial, Helvetica, sans-serif;
    }
    img:hover,
    #subcontent div a img:hover {
        opacity: 0.8 !important;
        transition: all 0.3s ease-in-out 0s;
    }
    img,
    #subcontent div a img {
        margin: 0px 20px 0px 0px;
        padding: 1px;
        text-decoration: none;
        border: 0px solid #333 !important;
        float: left;
        transition: all 0.3s ease-in-out 0s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
    /* ANIME LIST */
    
    .alphabet {
        background: rgba(33, 33, 33, 1) !important;
        color: #808080;
        text-align: center;
        font-size: 14px;
    }
    div.pagination ul.pager li {
        margin: 0px 0px 0px 4px;
        padding: 0px;
        height: 1%;
        float: left;
        list-style: outside none none;
        background: #222 !important;
        border-width: 0px !important;
        border-style: solid;
        border-color: #DEDEDE #C4C4C4 #C4C4C4 #CFCFCF;
        color: #4A4A4A;
        font-weight: normal;
    }
    div.pagination ul.pager li a:hover {
        border: none !important;
        background: transparent !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    div.pagination ul.pager li.current {
        padding: 4px;
        border-width: 0px;
        border-style: solid;
        border-color: #CCC #B1B1B1 #AFAFAF #BEBEBE;
        color: #515151;
    }
    .listing tr.odd {
        background: rgba(33, 33, 33, 1) !important;
    }
    /* USER */
    
    .boxDropDown {
        border: 0px solid #905CAC;
        border-radius: 1px;
        background: #444 none repeat scroll 0% 0%;
        display: inline-block;
        width: auto;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
        color: #FFF;
        text-align: center;
        padding-top: 2px;
        margin-top: 8px !important;
        line-height: 17.5px !important;
    }
    #head h3 {
        margin: 48px 0px 0px 30px;
        padding: 0px;
        float: right;
        position: absolute !important;
        top: 0px !important;
        right: 0px !important;
    }
    #menu_box {
        width: 175px;
        display: block !important;
        color: #FFF;
        position: absolute !important;
        top: 40px !important;
        left: 1826px !important;
        background: rgb(33, 33, 33) none repeat scroll 0% 0%;
        text-align: center !important;
        border: 6px solid #161616 !important;
        padding: 10px 9px 10px 0px !important;
        transition: all 0.3s ease-in-out 0s !important;
        opacity: 0;
        transition-delay: 5s !important;
    }
    .boxDropDown:hover ~ #menu_box {
        top: 62px !important;
        opacity: 1 !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    #menu_box a {
        color: #EEE;
        display: inline-block;
        width: 105%;
        margin-left: -4px !important;
        line-height: 30px;
        text-decoration: none;
        border-bottom: 0px solid #905CAC;
    }
    #menu_box a img {
        vertical-align: middle;
        display: none !important;
    }
    #menu_box a:hover {
        background-color: transparent !important;
        width: 105% !important;
    }
    small {
        color: #FFF !important;
    }
    /* SEARCH */
    
    #search {
        position: absolute !important;
        top: 214px !important;
        right: 150px !important;
        visibility: visible !important;
        z-index: 999 !important;
    }
    #formSearch > div > a {
        position: absolute;
        color: #FFF !important;
        padding: 10px 10px 10px 10px;
        font-weight: bold !important;
        top: 3px !important;
        right: -110px !important;
        background-color: transparent !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    #formSearch > div > a:hover {
        color: #566d8a !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    input.text:focus {
        width: 99% !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    input.text {
        margin: 0px;
        font: 15px "Tahoma", Arial, Helvetica, sans-serif;
        color: #CCC;
        border: 0px solid rgb(102, 102, 102);
        background: #161616 !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    #result_box {
        margin-top: 14px !important;
        opacity: 1;
        width: 88.7% !important;
        background-color: #161616 !important;
        margin-left: -56px !important;
        border-radius: 0px !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
    }
    #result_box a {
        position: static !important;
    }
    /* HEADER */
    
    #head h1 {
        margin: 10px 30px 0px 0px;
        background: url('http://wallpapers-best.com/uploads/posts/2016-01/2_the_tatami_galaxy.jpg') !important;
        background-position: 50% 70% !important;
        background-size: cover !important;
        text-indent: -9999px;
        float: left;
        width: 100% !important;
        position: absolute !important;
        left: 0px !important;
        top: 46px !important;
        height: 200px !important;
        z-index: -999 !important;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.6) !important;
    }
    #head h1 a.logo {
        background: url("http://i.imgur.com/jnt6rO6.png") no-repeat scroll !important;
        width: 80% !important;
        padding-bottom: 10px !important;
        margin-top: 24px !important;
        margin-left: 20px !important;
        z-index: 9999 !important;
    }
    #head h1 a.logo:hover {
        background: url("http://i.imgur.com/FI7EW4c.png") no-repeat scroll !important;
    }
    #navbar {
        width: 100%;
        background: none !important;
        height: 50px;
        margin-left: -454px !important;
        position: absolute !important;
        top: -74px !important;
    }
    #headnav {
        margin: 10px auto;
        padding: 0px;
        text-align: left;
        width: 100%;
    }
    /* SUBBAR */
    
    #navsubbar {
        width: 98%;
        background-image: none !important;
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        height: 25px;
        line-height: 20px;
        background-color: rgb(33, 33, 33) !important;
        padding: 20px !important;
        margin-left: -4px !important;
        margin-top: 252px !important;
    }
    #navsubbar p {
        margin-top: -3px !important;
        text-indent: 20px;
        width: 970px;
        color: #FFF;
        text-align: left;
        padding: 5px !important;
        font-size: 11pt !important;
        font-weight: bold !important;
        position: absolute !important;
        z-index: 10 !important;
    }
    #navsubbar p a {
        transition: all 0.3s ease-in-out 0s !important;
    }
    #navsubbar p a:hover {
        color: #e8a163 !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    /* NAVBAR */
    
    #navcontainer {
        margin-top: 49px !important;
        position: absolute !important;
        left: 470px !important;
    }
    #navcontainer a:link:hover,
    #navcontainer a:visited:hover {
        transition: all 0.3s ease-in-out 0s !important;
        color: #7E7E7E !important;
    }
    #navcontainer a:link,
    #navcontainer a:visited {
        float: left;
        transition: all 0.3s ease-in-out 0s !important;
        background-image: none !important;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        background-position: 0% -27px;
        color: #FFF !important;
        text-decoration: none;
        text-align: center !important;
        margin-left: -4px !important;
        font-size: 11pt !important;
        padding: 15px 5px 15px 1px !important;
        background-color: rgb(33, 33, 33) !important;
    }
    #navcontainer li a#currentTab {
        float: left;
        padding: 15px 5px 15px 1px !important;
        background: none !important;
        color: #CACACA !important;
        text-decoration: none;
        font-size: 11pt !important;
        line-height: 27px;
        text-align: center !important;
        background-color: rgb(33, 33, 33) !important;
    }
    #liHome > a {
       margin-right: -16px !important;
    }
    #li1 > a {
        margin-right: -2px !important;
    }
    #liMobile > a {
        margin-right: 10px !important;
    }
    #liReportError > a {
        margin-right: 6px !important;
    }
    #liCommunity > a {
        margin-right: -6px !important;
    }
    #liReadManga > a {
        margin-right: 18px !important;
    }
    #navcontainer > ul > li#liHome > a:hover {
        color: #ae4742 !important;
    }
    #navcontainer > ul > li#liDS > a:hover {
        color: #e3a979 !important;
    }
    #navcontainer > ul > li#li1 > a:hover {
        color: #6e6f4a !important;
    }
    #navcontainer > ul > li#liReportError > a:hover {
        color: #d9bc4a !important;
    }
    #navcontainer > ul > li#liCommunity > a:hover {
        color: #2e7aa2 !important;
    }
    #navcontainer > ul > li#liMobile > a:hover {
        color: #896f5e !important;
    }
    #navcontainer > ul > li#liReadManga > a:hover {
        color: #714951 !important;
    }
    #navcontainer > ul > li#liWatchDrama > a:hover {
        color: #c17871 !important;
    }
    #topHolderBox {
        color: #FFF;
        background: rgb(33, 33, 33) none repeat scroll 0% 0%;
        font-family: Roboto !important;
        font-size: 13px;
        border-radius: 1px;
        z-index: -9;
        display: inline-block;
        text-align: center;
        padding-top: 8px;
        padding-left: 1800px !important;
        padding-right: 5px !important;
        line-height: 36px !important;
        height: 46px !important;
        right: -46px !important;
        position: absolute !important;
        margin-top: -7px !important;
    }
    /*ANIME INFORMATION */
    
    .barContent.episodeList > div > div {
        color: #FFF !important;
    }
    .episodeVisited,
    #nextEpisodeCountDown {
        color: #7b9363 !important;
    }
    /* VIDEO */

    #centerDivVideo {
        visibility: visible !important;
    }
    .video-js .vjs-tech {
        position: absolute;
        width: auto !important;
        visibility: visible !important;
        box-shadow: 0px 0px 10px #000 !important;
    }
    .video-js.vjs-fullscreen {
        width: 100% !important;
    }
    .video-js.vjs-fullscreen > #my_video_1_html5_api.vjs-tech {
        background-color: #161616 !important;
        width: 100% !important;
    }
    #adsIfrme {
        visibility: hidden;
        margin-left: -99px !important;
        margin-top: -177px !important;
    }
    #select {
        visibility: hidden;
    }
    #selectPlayer {
        visibility: visible !important;
        padding: 10px !important;
        position: absolute !important;
        margin-top: -50px !important;
        border: none !important;
        z-index: 9999 !important;
        margin-left: 130px !important;
    }
    #selectServer {
        display: none !important;
    }
    .lbl {
        width: 150px;
        text-align: right;
        position: absolute !important;
        top: 360px !important;
        visibility: visible !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 10px 10px 14px 10px !important;
        color: rgba(33, 33, 33, 1);
        margin-left: 111px !important;
        z-index: 9999 !important;
    }
    #selectEpisode {
        border: none !important;
        background-color: rgb(33, 33, 33) !important;
        visibility: visible !important;
        top: 360px !important;
        margin-left: -129px !important;
        position: absolute !important;
        padding: 10px 10px 10px 10px !important;
    }
    .vjs-default-skin.vjs-has-started .vjs-control-bar {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out !important;
        padding: 5px;
        width: 113.8% !important;
        background-color: rgba(33, 33, 33, 1) !important;
    }
    #skip-ol,
    .vjs-default-skin .vjs-fullscreen-control,
    .vjs-default-skin .vjs-volume-control {
        float: left !important;
    }
    #skip-ol {
        margin-left: 90px !important;
        margin-top: 0px !important;
        visibility: hidden;
    }
    .vjs-default-skin .vjs-fullscreen-control {
        position: absolute !important;
        margin-left: 242px !important;
    }
    .vjs-default-skin .vjs-time-controls {
        font-size: 1em;
        line-height: 3em;
        font-weight: bold !important;
        font-family: "Blogger Sans" !important;
        margin-left: -8px !important;
    }
    .vjs-duration-display {
        margin-left: 14px !important;
    }
    .vjs-default-skin .vjs-mute-control,
    .vjs-default-skin .vjs-volume-menu-button {
        margin-left: -78px !important;
        float: left !important;
    }
    .vjs-volume-bar.vjs-slider {
        margin-top: 13px !important;
    }
    .vjs-default-skin .vjs-seek-handle,
    .vjs-default-skin .vjs-volume-bar .vjs-volume-handle {
        width: 1.5em;
        height: 100%;
        visibility: hidden;
    }
    .vjs-default-skin .vjs-volume-bar {
        width: 5em;
        height: 0.6em;
        margin: 1.1em auto 0;
        float: left !important;
        margin-left: 16px !important;
    }
    .vjs-default-skin .vjs-play-progress,
    .vjs-default-skin .vjs-volume-level {
        background: #888888;
    }
    /* COMMENTS */
    
    #divComments {
        visibility: visible !important;
        width: 980px !important;
        margin-top: 7px !important;
        margin-bottom: 100px !important;
        padding: 40px 6px 40px 6px !important;
    }
    #divComments > div > div {
        color: #FFF !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
    }
    #btnShowComments {
        top: 0px !important;
        left: -397px !important;
        position: absolute;
    }
    .specialButton {
        border-radius: 0px !important;
        position: relative !important;
        text-indent: 0px;
        display: inline-block;
        color: #FFF;
        font-family: Roboto !important;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        height: 49px;
        line-height: 49px;
        width: 200px;
        text-decoration: none;
        text-align: center;
        text-shadow: none;
        background: rgba(33, 33, 33, 1) none repeat scroll 0% 0% !important;
        border: 0px solid #83C41A !important;
        box-shadow: none !important;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out 0s !important;
    }
    .specialButton:hover {
        color: #7E7E7E !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    .addthis_native_toolbox {
        display: none !important;
    }
    .textarea-wrapper {
        position: relative;
        margin: 0px 0px 0px 60px;
        background: #FFF none repeat scroll 0% 0%;
        border: 0px solid rgba(0, 39, 59, 0.2);
        border-radius: 1px;
    }
    .avatar img {
        display: block;
        border-radius: 1px !important;
    }
    body.dark .input-wrapper input,
    body.dark .textarea-wrapper .textarea {
        border-color: transparent;
        border-radius: 1px;
    }
    .auth-section .proceed .btn {
        height: 32px;
        padding: 1px 0px;
        width: 100%;
        text-align: center;
    }
    .load-more .btn {
        font-size: 13px;
        display: block;
        text-align: center;
        padding: 11px 14px;
        border-radius: 0px !important;
        border-top: none !important;
        font-weight: bold !important;
        font-family: Roboto !important;
        text-transform: uppercase !important;
    }
    /* DOWNLOAD */
    
    #divDownload {
        visibility: visible !important;
        width: 22% !important;
        position: absolute !important;
        background-color: rgb(33, 33, 33);
        padding: 15px 10px 15px 10px !important;
        top: 1035px !important;
        margin-left: 57px !important;
    }
    #divDownload a {
        color: #CACACA !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    #divDownload a:hover {
        color: #7b9363 !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    /* Footer */
    
    #footer {
        padding-top: 10px;
        background-image: none !important;
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        clear: both;
        position: relative !important;
        z-index: 10;
        margin-top: auto !important;
        height: 64px;
        background-color: #1F1F1F !important;
    }
    #footcontainer p {
        margin: 0px 10px;
        color: #444;
        padding: 10px 0px 20px 0px !important;
    }
    /* CHART */
    
    .tooltip {
        display: none;
        background: #161616 !important;
        height: 180px;
        padding: 25px 10px 0px 30px;
        width: 300px;
        font-size: 11px;
        color: #DADADA;
    }
    .tooltip > div {
        background-color: #161616 !important;
        padding: 20px 20px 20px 20px !important;
        margin-left: -30px !important;
    }
}
@-moz-document regexp("http://kissanime.ru/AnimeList.*"),
regexp("http://kissanime.ru/Status/Ongoing.*"), 
regexp("http://kissanime.ru/Status/Completed.*"){
    .bigBarContainer {
        margin-top: 41px !important;
    }
}
@-moz-document url-prefix("http://kissanime.ru/BookmarkList"),
url-prefix("http://kissmanga.com/BookmarkList") {
    .bigBarContainer {
        margin-top: 50px !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
    #selectListCategories {
        border: medium none !important;
        padding: 5px !important;
    }
}
@-moz-document regexp("http://kissanime.ru/Anime/[_\\-a-zA-Z0-9-]+.*"){
    img[src*="Uploads"] {
        background: rgba(33, 33, 33, .8)  !important;
        box-shadow: none !important;
        padding: 31px !important;
        margin-left: -30px !important;
        margin-top: -26px !important;
    }
    .bigBarContainer {
        margin-top: 40px !important;
        margin-bottom: -80px !important;
    }
}
@-moz-document url-prefix("https://kissanime.ru/Profile"),
url-prefix("https://kissanime.ru/Message/GoPremium"),
url-prefix("http://kissmanga.com/Profile"),
url-prefix("http://kissmanga.com/Message/GoPremium") {
    body > #containerRoot {
        height: auto;
        min-height: 100%;
        margin-top: 436px !important;
    }
    .rightBox {
        margin-top: -61px !important;
    }
    .txtSignUp {
        margin: 0px 0px 10px;
        padding: 10px;
        border: 0px solid #666;
        background: #393939 no-repeat scroll left top;
        color: #CCC;
        width: 220px;
        height: 15px;
    }
    .aButton {
        color: #EEE;
        display: inline-block;
        text-decoration: none;
        border-width: 0px;
        border-style: solid;
        border-color: #532626;
        background: #444 none repeat scroll 0% 0%;
        cursor: pointer;
        text-align: center;
        width: 50px;
        line-height: 200%;
        padding: 10px !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    .aButton:hover {
        background-color: #555 !important;
        color: #CACACA !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
}
@-moz-document url-prefix("http://kissanime.ru/Search"),
url-prefix("http://kissmanga.com/Search") {
    #leftside {
        margin: 0px;
        padding: 0px;
        width: 730px;
        text-align: left;
        float: left;
        margin-top: 301px !important;
    }
    #rightside {
        padding: 0px;
        width: 220px;
        text-align: left;
        float: right;
        margin-top: 200px !important;
    }
    .barTitle {
        height: 25px;
        padding-left: 10px;
        letter-spacing: -1px;
        color: #FFF;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
}
@-moz-document url-prefix("http://kissanime.ru/Search/Anime"),
url-prefix("http://kissmanga.com/Search/Manga") {
    body > #containerRoot {
        height: auto;
        min-height: 100%;
        margin-top: 428px !important;
    }
    .bigBarContainer {
        margin-top: -338px !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }
    .rightBox {
        margin-top: -236px !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }
}
@-moz-document url-prefix("http://kissanime.ru/AdvanceSearch"),
url-prefix("http://kissmanga.com/AdvanceSearch") {
    body > #containerRoot {
        height: auto;
        min-height: 100%;
        margin-top: 428px !important;
    }
    .bigBarContainer {
        margin-top: -61px !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
    .txtSignUp {
        margin: 0px 0px 10px;
        padding: 10px;
        border: 0px solid #666;
        background: #393939 no-repeat scroll left top;
        color: #CCC;
        width: 220px;
        height: 15px;
    }
    #formProfile > .barContent > div > img {
        display: none !important;
    }
    .aButton {
        color: #EEE;
        display: inline-block;
        text-decoration: none;
        border-width: 0px;
        border-style: solid;
        border-color: #532626;
        background: #444 none repeat scroll 0% 0%;
        cursor: pointer;
        text-align: center;
        width: 50px;
        line-height: 200%;
        padding: 10px !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    .aButton:hover {
        background-color: #555 !important;
        color: #CACACA !important;
        transition: all 0.3s ease-in-out 0s !important;
    }
    .rightBox {
        margin-top: -61px !important;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
    }
    #btnReset {
        margin-top: -20px !important;
    }
    #btnSubmit {
        margin-top: -20px !important;
    }
}
@-moz-document url-prefix("https://kissanime.ru/Genre"),
url-prefix("http://kissmanga.com/Genre"){
    .bigBarContainer {
        margin-top: 40px !important;
    }
    .barTitle {
        height: 25px;
        padding-left: 10px;
        font: 17px/23px "Tahoma", Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        color: #FFF;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
}
@-moz-document regexp("http://kissanime.ru/Genre/[_\\-a-zA-Z0-9]+.*") {
    .bigBarContainer {
        margin-top: 41px !important;
    }
}
@-moz-document url-prefix("http://kissanime.ru/UpcomingAnime") {
    .bigBarContainer {
        margin-top: 50px !important;
        margin-left: -20px !important;
    }
    .barTitle {
        height: 25px;
        padding-left: 10px;
        font: 17px/23px "Tahoma", Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
        color: #FFF;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/[_\\-a-zA-Z0-9]+(\\?id=[0-9]+)?$'),
regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+.*/[_\\-a-zA-Z0-9]+(\\?id=[0-9]+)?$') {
    #navsubbar p a {
        transition: all 0.3s ease-in-out 0s !important;
        margin-left: 26px !important;
    }
    #divBookmark {
        position: absolute !important;
        top: 272px !important;
        left: 32px !important;
        font-size: 11pt !important;  
        z-index: 9999 !important;
    }
    #btnBookmarkManager::before {
        color: transparent !important;
        content: "dddd" !important;
        visibility: visible !important;
        background: no-repeat url("http://i.imgur.com/8ueNHXt.png") center !important;
        background-size: 38px auto !important;
        filter: brightness(0) invert(1) !important;
    }
    #btnAddBookmark::before {
        color: transparent !important;
        content: "dddd" !important;
        visibility: visible !important;
        background: no-repeat url("http://i.imgur.com/3WilpjF.png") center !important;
        background-size: 38px auto !important;
        margin-left: -38px !important;
    }
    #spanBookmarkAdd[style=""]::before {
        color: transparent !important;
        content: "dddd" !important;
        visibility: visible !important;
        background: no-repeat url("http://i.imgur.com/vM7pU2J.png") center !important;
        background-size: 38px auto !important;        
    }
    #spBookmark::before {
        color: transparent !important;
        content: "dddd" !important;
        visibility: visible !important;
        background: no-repeat url("http://i.imgur.com/BjxvBCs.png") center !important;
        background-size: 38px auto !important;         
    }
    #spanBookmarkAdd {
        margin-left: 0px !important;
    }
    #spBookmark  {
        margin-left: -38px !important;
    }
    #btnBookmarkManager {
        visibility: hidden;
    }

}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/Episode-001(\\?id=[0-9]+)?$') {
    #adsIfrme {
        margin-top: -149px !important;
    }
    #selectPlayer {
        margin-top: -55px !important;
    }
}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/(Special\\?id=[0-9]+)?$') {
    .video-js .vjs-tech {
        position: absolute;
        width: auto !important;
        visibility: visible !important;
        box-shadow: 0px 0px 10px #000 !important;
    }
    .video-js.vjs-fullscreen {
        width: 100% !important;
    }
    #adsIfrme {
        visibility: hidden;
        margin-left: -99px !important;
        margin-top: -204px !important;
    }
    #select {
        visibility: hidden;
    }
    .lbl {
        width: 150px;
        padding: 2px 15px !important;
        text-align: right;
        font: 14px "Tahoma", Arial, Helvetica, sans-serif;
        position: absolute !important;
        top: 355px !important;
        visibility: visible !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 10px 10px 14px 10px !important;
        color: rgba(33, 33, 33, 1);
        margin-left: 111px !important;
        z-index: 9999 !important;
    }
    #selectEpisode {
        visibility: visible !important;
        border: none !important;
        background-color: rgb(33, 33, 33) !important;
        top: 355px !important;
        margin-left: -129px !important;
        position: absolute !important;
        padding: 10px 10px 10px 10px !important;
    }
    .vjs-default-skin.vjs-has-started .vjs-control-bar {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
        width: 114.9% !important;
    }
}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/(OVA\\?id=[0-9]+)?$') {
    .video-js .vjs-tech {
        position: absolute;
        width: auto !important;
        visibility: visible !important;
        box-shadow: 0px 0px 10px #000 !important;
    }
    .video-js.vjs-fullscreen {
        width: 100% !important;
    }
    #adsIfrme {
        visibility: hidden;
        margin-left: -99px !important;
        margin-top: -204px !important;
    }
    #select {
        visibility: hidden;
    }
    .lbl {
        width: 150px;
        padding: 2px 15px !important;
        text-align: right;
        font: 14px "Tahoma", Arial, Helvetica, sans-serif;
        position: absolute !important;
        top: 355px !important;
        visibility: visible !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 10px 10px 14px 10px !important;
        color: rgba(33, 33, 33, 1);
        margin-left: 111px !important;
        z-index: 9999 !important;
    }
    #selectEpisode {
        visibility: visible !important;
        border: none !important;
        background-color: rgb(33, 33, 33) !important;
        top: 355px !important;
        margin-left: -129px !important;
        position: absolute !important;
        padding: 10px 10px 10px 10px !important;
    }
    .vjs-default-skin.vjs-has-started .vjs-control-bar {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
        width: 114.9% !important;
    }
}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/(OAD\\?id=[0-9]+)?$') {
    /* Video Movie */
    
    .video-js .vjs-tech {
        position: absolute;
        width: auto !important;
        visibility: visible !important;
        box-shadow: 0px 0px 10px #000 !important;
    }
    .video-js.vjs-fullscreen {
        width: 100% !important;
    }
    #adsIfrme {
        visibility: hidden;
        margin-left: -99px !important;
        margin-top: -204px !important;
    }
    #select {
        visibility: hidden;
    }
    .lbl {
        width: 150px;
        padding: 2px 15px !important;
        text-align: right;
        font: 14px "Tahoma", Arial, Helvetica, sans-serif;
        position: absolute !important;
        top: 355px !important;
        visibility: visible !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 10px 10px 14px 10px !important;
        color: rgba(33, 33, 33, 1);
        margin-left: 111px !important;
        z-index: 9999 !important;
    }
    #selectEpisode {
        visibility: visible !important;
        border: none !important;
        background-color: rgb(33, 33, 33) !important;
        top: 355px !important;
        margin-left: -129px !important;
        position: absolute !important;
        padding: 10px 10px 10px 10px !important;
    }
    .vjs-default-skin.vjs-has-started .vjs-control-bar {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
        width: 114.9% !important;
    }
}
@-moz-document regexp('^https?://(www\\.)?kissanime\\.[a-z]{2,3}/Anime/[_\\-a-zA-Z0-9]+/(Movie\\?id=[0-9]+)?$') {
    /* MOVIE */
    
    .video-js .vjs-tech {
        position: absolute;
        width: auto !important;
        visibility: visible !important;
        box-shadow: 0px 0px 10px #000 !important;
    }
    .video-js.vjs-fullscreen {
        width: 100% !important;
    }
    #adsIfrme {
        visibility: hidden;
        margin-left: -99px !important;
        margin-top: -204px !important;
    }
    #select {
        visibility: hidden;
    }
    .lbl {
        width: 150px;
        padding: 2px 15px !important;
        text-align: right;
        font: 14px "Tahoma", Arial, Helvetica, sans-serif;
        position: absolute !important;
        top: 355px !important;
        visibility: visible !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 10px 10px 14px 10px !important;
        color: rgba(33, 33, 33, 1);
        margin-left: 111px !important;
        z-index: 9999 !important;
    }
    #selectEpisode {
        visibility: visible !important;
        border: none !important;
        background-color: rgb(33, 33, 33) !important;
        top: 355px !important;
        margin-left: -129px !important;
        position: absolute !important;
        padding: 10px 10px 10px 10px !important;
    }
    .vjs-default-skin.vjs-has-started .vjs-control-bar {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
        width: 114.9% !important;
    }
}
@-moz-document regexp("http://kissanime.ru/Message/.*") {
    .bigBarContainer {
        margin-top: 400px !important;
    }
}
@-moz-document regexp("http://kissanime.ru/Login.*"),
regexp("http://kissanime.ru/Register.*") {
    #leftside {
        margin-top: 39px !important;
    }        
        
}
@-moz-document url-prefix("https://kissanime.ru/Anime"),
url-prefix("http://kissmanga.com/Manga") {
    * {
        font-family: "Roboto", "Source Han Sans JP Regular", "Meiryo" !important;
    }
    #leftside {
        margin: 0px;
        padding: 0px;
        width: 730px;
        text-align: left;
        float: left;
        margin-top: 100px !important;
    }
    #rightside > .rightBox > .barContent > div > img {
        margin-top: -20px !important;
        background-color: rgba(33, 33, 33, 1) !important;
        padding: 20px 32px 31px 31px;
        margin-left: -30px !important;
        box-shadow: none !important;
    }
    .listing th {
        border-bottom: 2px solid #7E7E7E;
        font-size: 120%;
        text-align: left;
        padding-bottom: 10px !important;
    }
    .barTitle {
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
}
